<div class="c-container">
    <div class="c-row">
        <div class="c-span6"><a class="c-btn" href="#">(6n)link默认按钮</a></div>
        <div class="c-span6"><button class="c-btn" type="submit">(6n)button默认按钮</button></div>
    </div>
    <div class="c-row c-gap-top">
        <div class="c-span6"><a class="c-btn c-btn-primary" href="#">(6n)link主要按钮</a></div>
        <div class="c-span6"><button class="c-btn c-btn-primary" type="submit">(6n)button主要按钮</button></div>
    </div>
    <div class="c-row c-gap-top">
        <div class="c-span6"><a class="c-btn c-btn-disable" href="#">(6n)link禁用按钮</a></div>
        <div class="c-span6"><button class="c-btn c-btn-disable" type="submit">(6n)button禁用按钮</button></div>
    </div>
</div>

<p>带图标的按钮</p>
<div class="c-container">
	<!--
	<div class="c-row">
        <div class="c-span12"><a class="c-btn" href="#"><i class="c-icon">&#xe732</i>图标默认按钮</a></div>
	</div>
	-->
    <div class="c-row c-gap-top">
        <div class="c-span12"><a class="c-btn c-btn-primary" href="#"><i class="c-icon">&#xe732</i>图标主要按钮</a></div>
    </div>
    <div class="c-row c-gap-top">
        <div class="c-span12"><a class="c-btn c-btn-disable" href="#"><i class="c-icon">&#xe732</i>图标禁用按钮</a></div>
    </div>
</div>
