<p>输入框</p>
<div class="c-container">
    <div class="c-row">
        <div class="c-span4"><input type="text" class="c-input" placeholder="(4n)"></div>
        <div class="c-span8"><input type="text" class="c-input" placeholder="(8n)disabled状态" disabled=""></div>
    </div>
    <div class="c-row c-gap-top">
        <div class="c-span6"><input class="c-input" placeholder="(6n)"></div>
        <div class="c-span6"><input class="c-input" placeholder="(6n)disabled状态" disabled=""></div>
    </div>
    <div class="c-row c-gap-top">
        <div class="c-span8"><input class="c-input" placeholder="(8n)"></div>
        <div class="c-span4"><a class="c-btn" href="#">确定</a></div>
    </div>
</div>

<p>下拉框</p>
<div class="c-container">
    <div class="c-row">
        <div class="c-span6">
            <div class="c-dropdown">
                <select>
                    <option value="volvo">米</option>
                    <option value="saab">分米</option>
                    <option value="opel" selected="selected">厘米</option>
                    <option value="audi">毫米</option>
                </select>
            </div>
        </div>
        <div class="c-span6">
            <div class="c-dropdown c-dropdown-disable">
                <select disabled="">
                    <option value="boy" selected="selected">男</option>
                    <option value="girl">女</option>
                </select>
            </div>
        </div>
    </div>
    <div class="c-row c-gap-top">
        <div class="c-span8">
            <div class="c-dropdown">
                <label>单位类型：</label>
                <select>
                    <option value="volvo">米</option>
                    <option value="saab">分米</option>
                    <option value="opel" selected="selected">厘米</option>
                    <option value="audi">毫米</option>
                </select>
            </div>
        </div>
        <div class="c-span4">
            <div class="c-dropdown c-dropdown-disable">
                <label>性别：</label>
                <select disabled="">
                    <option value="boy" selected="selected">男</option>
                    <option value="girl">女</option>
                </select>
            </div>
        </div>
    </div>
</div>