<p>弱短链</p>
<div class="c-container">
    <div class="c-slink">
        <a href="http://www.baidu.com" target="_blank">实时</a>
        <a href="http://www.baidu.com" target="_blank">机构研究报</a>
        <p class="c-slink-elem">个股智能点</p>
        <div class="c-slink-elem">股智能</div>
    </div>
    <div class="c-slink">
        <a href="http://www.baidu.com" target="_blank">实时资金流向流向</a>
        <a href="http://www.baidu.com" target="_blank">深度数据解谜流向流向</a>
        <a href="http://www.baidu.com" target="_blank">实时资金流向流向</a>
    </div>
</div>

<p>强短链</p>
<div class="c-container">
    <div class="c-slink c-slink-strong">
        <a href="http://www.baidu.com" target="_blank">实时</a>
        <a href="http://www.baidu.com" target="_blank">机构研究报</a>
        <span class="c-slink-elem">个股智能点</span>
        <p class="c-slink-elem">股智能</p>
    </div>
    <div class="c-slink c-slink-strong">
        <a href="http://www.baidu.com" target="_blank">实时资金流向流向</a>
        <a href="http://www.baidu.com" target="_blank">深度数据解谜流向流向</a>
        <a href="http://www.baidu.com" target="_blank">实时资金流向流向</a>
    </div>
</div>