<div class="c-container">
    <style type="text/css">
        .wa-cicon-demo .c-icon{font-size:18px;}
    </style>
    <table class="c-table wa-cicon-demo">
        <tr class="c-table-hihead"><th><div>示例</div></th><th><div>含义</div></th><th><div>icon代码</div></th></tr>
        <tr><td><i class="c-icon">&#xe780</i></td><td>百度LOGO</td><td>&amp;#xe780</td></tr>
        <tr><td><i class="c-icon">&#xe731</i></td><td>播放</td><td>&amp;#xe731</td></tr>
        <tr><td><i class="c-icon">&#xe607</i></td><td>暂停</td><td>&amp;#xe607</td></tr>
        <tr><td><i class="c-icon">&#xe732</i></td><td>音乐播放</td><td>&amp;#xe732</td></tr>
        <tr><td><i class="c-icon">&#xe76f</i></td><td>音乐播放线形</td><td>&amp;#xe76f</td></tr>
        <tr><td><i class="c-icon">&#xe735</i></td><td>视频播放</td><td>&amp;#xe735</td></tr>
        <tr><td><i class="c-icon">&#xe654</i></td><td>视频播放(细)</td><td>&amp;#xe654</td></tr>
        <tr><td><i class="c-icon">&#xe73b</i></td><td>音乐暂停</td><td>&amp;#xe73b</td></tr>
        <tr><td><i class="c-icon">&#xe739</i></td><td>音乐下载</td><td>&amp;#xe739</td></tr>
        <tr><td><i class="c-icon">&#xe73a</i></td><td>下载</td><td>&amp;#xe73a</td></tr>

        <tr><td><i class="c-icon">&#xe600</i></td><td>到这去</td><td>&amp;#xe600</td></tr>
        <tr><td><i class="c-icon">&#xe605</i></td><td>向右箭头</td><td>&amp;#xe605</td></tr>
        <tr><td><i class="c-icon">&#xe734</i></td><td>向右</td><td>&amp;#xe734</td></tr>
        <tr><td><i class="c-icon">&#xe736</i></td><td>向上</td><td>&amp;#xe736</td></tr>
        <tr><td><i class="c-icon">&#xe73c</i></td><td>向下</td><td>&amp;#xe73c</td></tr>
        <tr><td><i class="c-icon">&#xe783</i></td><td>向左</td><td>&amp;#xe783</td></tr>
        <tr><td><i class="c-icon">&#xe619</i></td><td>向下圈</td><td>&amp;#xe619</td></tr>
        <tr><td><i class="c-icon">&#xe782</i></td><td>双左剪头</td><td>&amp;#xe782</td></tr>
        <tr><td><i class="c-icon">&#xe609</i></td><td>回第一页</td><td>&amp;#xe609</td></tr>
        <tr><td><i class="c-icon">&#xe763</i></td><td>上升</td><td>&amp;#xe763</td></tr>
        <tr><td><i class="c-icon">&#xe76a</i></td><td>下降</td><td>&amp;#xe76a</td></tr>
        <tr><td><i class="c-icon">&#xe762</i></td><td>持平</td><td>&amp;#xe762</td></tr>
        <tr><td><i class="c-icon">&#xe613</i></td><td>加(细)</td><td>&amp;#xe613</td></tr>
        <tr><td><i class="c-icon">&#xe611</i></td><td>乘(细)</td><td>&amp;#xe611</td></tr>
        <tr><td><i class="c-icon">&#xe604</i></td><td>star</td><td>&amp;#xe604</td></tr>
        <tr><td><i class="c-icon">&#xe60c</i></td><td>微博star</td><td>&amp;#xe60c</td></tr>

        <tr><td><i class="c-icon">&#xe61e</i></td><td>提示</td><td>&amp;#xe61e</td></tr>
        <tr><td><i class="c-icon">&#xe638</i></td><td>提示(细)</td><td>&amp;#xe638</td></tr>
        <tr><td><i class="c-icon">&#xe602</i></td><td>全屏</td><td>&amp;#xe602</td></tr>
        <tr><td><i class="c-icon">&#xe62c</i></td><td>打开</td><td>&amp;#xe62c</td></tr>
        <tr><td><i class="c-icon">&#xe618</i></td><td>设置</td><td>&amp;#xe618</td></tr>
        <tr><td><i class="c-icon">&#xe61b</i></td><td>用户</td><td>&amp;#xe61b</td></tr>
        <tr><td><i class="c-icon">&#xe639</i></td><td>用户(细)</td><td>&amp;#xe639</td></tr>
        <tr><td><i class="c-icon">&#xe61c</i></td><td>赞</td><td>&amp;#xe61c</td></tr>
        <tr><td><i class="c-icon">&#xe636</i></td><td>粉丝关注</td><td>&amp;#xe636</td></tr>
        <tr><td><i class="c-icon">&#xe788</i></td><td>刷新</td><td>&amp;#xe788</td></tr>
        <tr><td><i class="c-icon">&#xe61d</i></td><td>换</td><td>&amp;#xe61d</td></tr>
        <tr><td><i class="c-icon">&#xe617</i></td><td>垃圾箱</td><td>&amp;#xe617</td></tr>
        <tr><td><i class="c-icon">&#xe614</i></td><td>mail</td><td>&amp;#xe614</td></tr>
        <tr><td><i class="c-icon">&#xe62a</i></td><td>信息</td><td>&amp;#xe62a</td></tr>
        <tr><td><i class="c-icon">&#xe601</i></td><td>关闭</td><td>&amp;#xe601</td></tr>
        <tr><td><i class="c-icon">&#xe612</i></td><td>关闭线型(细)</td><td>&amp;#xe612</td></tr>
        <tr><td><i class="c-icon">&#xe61a</i></td><td>关闭线型</td><td>&amp;#xe61a</td></tr>
        <tr><td><i class="c-icon">&#xe772</i></td><td>转换</td><td>&amp;#xe772</td></tr>
        <tr><td><i class="c-icon">&#xe77e</i></td><td>回顶部</td><td>&amp;#xe77e</td></tr>
        <tr><td><i class="c-icon">&#xe608</i></td><td>勾</td><td>&amp;#xe608</td></tr>
        <tr><td><i class="c-icon">&#xe786</i></td><td>输入</td><td>&amp;#xe786</td></tr>
        <tr><td><i class="c-icon">&#xe63b</i></td><td>浏览</td><td>&amp;#xe63b</td></tr>
        <tr><td><i class="c-icon">&#xe751</i></td><td>提交</td><td>&amp;#xe751</td></tr>
        <tr><td><i class="c-icon">&#xe60a</i></td><td>添加</td><td>&amp;#xe60a</td></tr>
        <tr><td><i class="c-icon">&#xe603</i></td><td>公交</td><td>&amp;#xe603</td></tr>
        <tr><td><i class="c-icon">&#xe733</i></td><td>电话</td><td>&amp;#xe733</td></tr>
        <tr><td><i class="c-icon">&#xe784</i></td><td>超级电话</td><td>&amp;#xe784</td></tr>
        <tr><td><i class="c-icon">&#xe606</i></td><td>iphone</td><td>&amp;#xe606</td></tr>
        <tr><td><i class="c-icon">&#xe737</i></td><td>搜索</td><td>&amp;#xe737</td></tr>
        <tr><td><i class="c-icon">&#xe61f</i></td><td>时钟</td><td>&amp;#xe61f</td></tr>
        <tr><td><i class="c-icon">&#xe60b</i></td><td>网页链接</td><td>&amp;#xe60b</td></tr>
        <tr><td><i class="c-icon">&#xe738</i></td><td>位置</td><td>&amp;#xe738</td></tr>
        <tr><td><i class="c-icon">&#xe637</i></td><td>行程</td><td>&amp;#xe637</td></tr>
        <tr><td><i class="c-icon">&#xe787</i></td><td>定位</td><td>&amp;#xe787</td></tr>
        <tr><td><i class="c-icon">&#xe622</i></td><td>直播</td><td>&amp;#xe622</td></tr>
        <tr><td><i class="c-icon">&#xe752</i></td><td>图片</td><td>&amp;#xe752</td></tr>
        <tr><td><i class="c-icon">&#xe60d</i></td><td>拍照</td><td>&amp;#xe60d</td></tr>
        <tr><td><i class="c-icon">&#xe60e</i></td><td>语音</td><td>&amp;#xe60e</td></tr>
        <tr><td><i class="c-icon">&#xe610</i></td><td>直达号</td><td>&amp;#xe610</td></tr>
        <tr><td><i class="c-icon">&#xe60f</i></td><td>历史记录</td><td>&amp;#xe60f</td></tr>
        <tr><td><i class="c-icon">&#xe753</i></td><td>V标</td><td>&amp;#xe753</td></tr>
        <tr><td><i class="c-icon">&#xe76b</i></td><td>挂号</td><td>&amp;#xe76b</td></tr>
        <tr><td><i class="c-icon">&#xe621</i></td><td>附近</td><td>&amp;#xe621</td></tr>
        <tr><td><i class="c-icon">&#xe620</i></td><td>咨询</td><td>&amp;#xe620</td></tr>
        <tr><td><i class="c-icon">&#xe623</i></td><td>购物车</td><td>&amp;#xe623</td></tr>
        <tr><td><i class="c-icon">&#xe615</i></td><td>表情1</td><td>&amp;#xe615</td></tr>
        <tr><td><i class="c-icon">&#xe616</i></td><td>表情2</td><td>&amp;#xe616</td></tr>
        <tr><td><i class="c-icon">&#xe628</i></td><td>住宿</td><td>&amp;#xe628</td></tr>
        <tr><td><i class="c-icon">&#xe627</i></td><td>饮食</td><td>&amp;#xe627</td></tr>
        <tr><td><i class="c-icon">&#xe626</i></td><td>景点</td><td>&amp;#xe626</td></tr>
        <tr><td><i class="c-icon">&#xe625</i></td><td>价格</td><td>&amp;#xe625</td></tr>
        <tr><td><i class="c-icon">&#xe624</i></td><td>攻略</td><td>&amp;#xe624</td></tr>
        <tr><td><i class="c-icon">&#xe62d</i></td><td>点评</td><td>&amp;#xe62d</td></tr>
        <tr><td><i class="c-icon">&#xe62b</i></td><td>正片</td><td>&amp;#xe62b</td></tr>
        <tr><td><i class="c-icon">&#xe629</i></td><td>花絮</td><td>&amp;#xe629</td></tr>
        <tr><td><i class="c-icon">&#xe634</i></td><td>日历</td><td>&amp;#xe634</td></tr>

        <tr><td><i class="c-icon">&#xe632</i></td><td>播放(细)</td><td>&amp;#xe632</td></tr>
        <tr><td><i class="c-icon">&#xe631</i></td><td>暂停(细)</td><td>&amp;#xe631</td></tr>
        <tr><td><i class="c-icon">&#xe630</i></td><td>音符(细)</td><td>&amp;#xe630</td></tr>
        <tr><td><i class="c-icon">&#xe62e</i></td><td>上一首(细)</td><td>&amp;#xe62e</td></tr>
        <tr><td><i class="c-icon">&#xe62f</i></td><td>下一首(细)</td><td>&amp;#xe62f</td></tr>

        <tr><td><i class="c-icon">&#xe633</i></td><td>相关推荐</td><td>&amp;#xe633</td></tr>
        <tr><td><i class="c-icon">&#xe635</i></td><td>预订(细)</td><td>&amp;#xe635</td></tr>
        <tr><td><i class="c-icon">&#xe63a</i></td><td>优惠券</td><td>&amp;#xe63a</td></tr>
        <tr><td><i class="c-icon">&#xe63d</i></td><td>扫码</td><td>&amp;#xe63d</td></tr>
        <tr><td><i class="c-icon">&#xe63c</i></td><td>更多</td><td>&amp;#xe63c</td></tr>

        <tr><td><i class="c-icon">&#xe642</i></td><td>adobe</td><td>&amp;#xe642</td></tr>
        <tr><td><i class="c-icon">&#xe641</i></td><td>word</td><td>&amp;#xe641</td></tr>
        <tr><td><i class="c-icon">&#xe640</i></td><td>txt</td><td>&amp;#xe640</td></tr>
        <tr><td><i class="c-icon">&#xe63e</i></td><td>excel</td><td>&amp;#xe63e</td></tr>
        <tr><td><i class="c-icon">&#xe63f</i></td><td>ppt</td><td>&amp;#xe63f</td></tr>
        
        <tr><td><i class="c-icon">&#xe643</i></td><td>more</td><td>&amp;#xe643</td></tr>
        <tr><td><i class="c-icon">&#xe644</i></td><td>订座</td><td>&amp;#xe644</td></tr>
        <tr><td><i class="c-icon">&#xe645</i></td><td>排号</td><td>&amp;#xe645</td></tr>
        <tr><td><i class="c-icon">&#xe646</i></td><td>外卖</td><td>&amp;#xe646</td></tr>
        <tr><td><i class="c-icon">&#xe647</i></td><td>加号</td><td>&amp;#xe647</td></tr>

        <tr><td><i class="c-icon">&#xe648</i></td><td>订阅</td><td>&amp;#xe648</td></tr>
        <tr><td><i class="c-icon">&#xe649</i></td><td>踩_点击</td><td>&amp;#xe649</td></tr>
        <tr><td><i class="c-icon">&#xe64a</i></td><td>刷卡</td><td>&amp;#xe64a</td></tr>
        <tr><td><i class="c-icon">&#xe64b</i></td><td>停车</td><td>&amp;#xe64b</td></tr>
        <tr><td><i class="c-icon">&#xe64c</i></td><td>wifi</td><td>&amp;#xe64c</td></tr>

        <tr><td><i class="c-icon">&#xe64d</i></td><td>导航</td><td>&amp;#xe64d</td></tr>
        <tr><td><i class="c-icon">&#xe64f</i></td><td>地铁</td><td>&amp;#xe64f</td></tr>
        <tr><td><i class="c-icon">&#xe64e</i></td><td>出租车</td><td>&amp;#xe64e</td></tr>

        <tr><td><i class="c-icon">&#xe651</i></td><td>分享</td><td>&amp;#xe651</td></tr>
        <tr><td><i class="c-icon">&#xe652</i></td><td>分享-2</td><td>&amp;#xe652</td></tr>
        <tr><td><i class="c-icon">&#xe650</i></td><td>保存</td><td>&amp;#xe650</td></tr>

        <tr><td><i class="c-icon">&#xe653</i></td><td>簇更多</td><td>&amp;#xe653</td></tr> 
        <tr><td><i class="c-icon">&#xe656</i></td><td>收藏</td><td>&amp;#xe656</td></tr>
        <tr><td><i class="c-icon">&#xe655</i></td><td>已收藏</td><td>&amp;#xe655</td></tr>
        <tr><td><i class="c-icon">&#xe657</i></td><td>排序</td><td>&amp;#xe657</td></tr>   
        <tr><td><i class="c-icon">&#xe659</i></td><td>ring</td><td>&amp;#xe659</td></tr>
        <tr><td><i class="c-icon">&#xe658</i></td><td>camera</td><td>&amp;#xe658</td></tr>
        <tr><td><i class="c-icon">&#xe65b</i></td><td>camera(细)</td><td>&amp;#xe65b</td></tr>
        <tr><td><i class="c-icon">&#xe65a</i></td><td>积分</td><td>&amp;#xe65a</td></tr>
    </table>
</div>
