
.c-toast-wrapper {
    z-index: 900;
    position: fixed;
    left: 50%;
    top: 50%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 22px;
    color: #fff;
    padding: 8px 18px;
    line-height: 24px;
    font-size: 18px;
    max-width: 40%;
    text-align: center;
}