<p>基本卡片</p>
<div class="c-container">
    这是一个用纯文本的简单卡片，卡片中可以包含任意内容。卡片定义了固定的内边距，当然也可以通过一些方式消除。
</div>

<p>消除边距的卡片</p>
<div class="c-container">
    <div class="c-row-tile c-row-top c-row-bottom" style="background:#C2F9FF;">
        <p>这是一个消除了内边距的卡片</p>
        <p>c-row-tile：占满左右边距</p>
        <p>c-row-top：占满上边距</p>
        <p>c-row-bottom：占满下边距</p>
        <p>可应用于卡片包含背景图等特殊情况，以上属性可随意组合使用</p>
    </div>
</div>

<p>基本公共样式</p>
<div class="c-container">
    <p class="c-title">大标题　c-title　18x/26px</p>
    <p class="c-abstract">摘要　c-abstract　14px/22px</p>
    <p class="c-gray">辅助信息　c-gray　13px/21px</p>
    <p class="c-showurl">绿色showurl　c-showurl　13px/21px</p>
    <a class="c-blocka" href="#"><p class="c-title">可点区块链接　c-blocka</p></a>
	<p class="c-line-top c-gap-top">上分割线　c-line-top</p>
	<p class="c-line-dotted-top c-gap-top">上分割点线　c-line-dotted-top</p>
	<p class="c-line-bottom c-gap-bottom">下分割线　c-line-bottom</p>
	<p class="c-line-dotted-bottom c-gap-bottom">下分割点线　c-line-dotted-bottom</p>
</div>

<p>文字颜色</p>
<div class="c-container">
    <p class="c-color">正文[#333] c-color</p>
	<p class="c-color-gray">辅助文字[#999] c-color-gray</p>
	<p class="c-color-gray-a">配合图标出现的可点文字[#666] c-color-gray-a</p>
    <p class="c-color-link">链接色[#00c] c-color-link</p>
    <p class="c-color-url">外部url色[#2a9457] c-color-url</p>
	<p class="c-color-red">红色(风险，慎用)[#ee4433] c-color-red</p>
	<p class="c-color-orange">橙色(一般用于价格)[#ff6500] c-color-orange</p>
</div>

<p>纯文本卡片</p>
<div class="c-container">
    <a href="http://www.baidu.com" target="_blank" class="c-blocka">
    <h3 class="c-title c-gap-top-small">
        <em>刘德华</em>百度视频百度视频百度视频百度视频百度视频百度视频百度视频百度视频
    </h3>
    <div class="c-abstract c-gap-top-small">
        约有335,967个<em>刘德华</em>相关的视频 <em>刘德华</em>《解开》 - 搜狐视频 tv.sohu.com 鲁豫有约2014125吕良伟曾差点被<em>刘德华</em>...v.ifeng.com..
    </div>
    </a>
    <div><span class="c-showurl">video.baidu.com</span></div>
</div>

<p>图文卡片</p>
<div class="c-container" tpl="www_normal">
    <a href="http://www.baidu.com" target="_blank" class="c-blocka">
    <h3 class="c-title c-gap-top-small">
        <em>刘德华</em>资料
    </h3>
    <div class="c-row c-gap-top-small">
        <div class="c-span3"><img src="1x1.jpg" class="c-img"></div>
        <div class="c-span9">
            <p class="c-line-clamp3 c-color">
            015年7月3日 - ·帕斯卡、景甜(请注意景甜的名字全程排在<em>刘德华</em>前面)、<em>刘德华</em>、张涵予、鹿晗、林更新、王俊凯等...张涵予、鹿晗、林更新、王俊凯等...张涵予、鹿晗、林更新、王俊凯等...张涵予、鹿晗、林更新、王俊凯等...张涵予、鹿晗、林更新、王俊凯等...张涵予、鹿晗、林更新、王俊凯等...张涵予、鹿晗、林更新、王俊凯等...
            </p>
            <p><span class="c-showurl">video.baidu.com</span></p>
        </div>
    </div>
    </a>
</div>

<p>列表卡片</p>
<div class="c-container">
    <a href="http://www.baidu.com" target="_blank" class="c-blocka">
    <h3 class="c-title c-gap-top-small">
        <em>安宁里</em>二手房房源
    </h3>
    </a>
    <div class="c-gap-top-small c-line-bottom">
        <a href="http://www.baidu.com" target="_blank" class="c-blocka c-gap-bottom-small">
        <div><em>安居里</em>小区二手房房源</div>
        <div class="c-color">搜房网房北京租房首选网站，热门租房信息搜房网房北京租房首选网站，热门租房信息搜房网房北京租房首选网站，热门租房信息</div>
        <div class="c-gray">北京海淀区东北旺西路八号建明里</div>
        </a>
    </div>
    <div class="c-gap-top-small c-gap-bottom-small c-line-bottom">
        <a href="http://www.baidu.com" target="_blank" class="c-blocka c-gap-bottom-small">
        <div><em>安居里</em>小区二手房房源</div>
        <div class="c-color">搜房网房北京租房首选网站，热门租房信息</div>
        <div class="c-gray">北京海淀区东北旺西路八号建明里</div>
        </a>
    </div>
    <div class="c-row">
        <div class="c-span6">
            <a href="http://www.baidu.com" target="_blank" class="c-blocka">
                <p class="c-moreinfo">更多相关信息<i class="c-icon c-gap-left-small">&#xe734</i></p>
            </a>
        </div>
    </div>
</div>

<p>多图卡片</p>
<div class="c-container" tpl="exactqa">
    <h3 class="c-title c-gap-top-small">刘德华的相关人物</h3>
    <div class="c-row c-gap-top-small c-gap-bottom-large">
        <div class="c-span3">
            <a href="http://www.baidu.com" target="_blank">
                <img src="1x1.jpg" class="c-img">
                <p class="c-line-clamp1" style="text-align:center">标题标题标题标题标题标题</p>
            </a>
        </div>
        <div class="c-span3">
            <a href="http://www.baidu.com" target="_blank">
                <img src="1x1.jpg" class="c-img">
                <p class="c-line-clamp1" style="text-align:center">标题</p>
            </a>
        </div>
        <div class="c-span3">
            <a href="http://www.baidu.com" target="_blank">
                <img src="1x1.jpg" class="c-img">
                <p style="text-align:center">标题</p>
            </a>
        </div>
        <div class="c-span3">
            <a href="http://www.baidu.com" target="_blank">
                <img src="1x1.jpg" class="c-img">
                <p style="text-align:center">标题</p>
            </a>
        </div>
    </div>
    <div class="c-row">
        <div class="c-span6">
            <p class="c-color-gray">百度百科</p>
        </div>
        <div class="c-span6">
            <a href="http://www.baidu.com" target="_blank" class="c-blocka">
            <p class="c-moreinfo">更多相关信息<i class="c-icon c-gap-left-small">&#xe734</i></p>
            </a>
        </div>
    </div>
</div>
