<p>一般表格（无表头或表头不加重）</p>
<div class="c-container">
    <table class="c-table">
        <tbody>
            <tr>
                <th>表头</th><th>表头</th><th>表头</th>
            </tr>
            <tr>
                <td>表格内容</td><td>表格内容</td><td>表格内容</td>
            </tr>
            <tr>
                <td>表格内容</td><td>表格内容</td><td>表格内容</td>
            </tr>
        </tbody>
    </table>
</div>

<p>着重强调表头的表格</p>
<div class="c-container">
    <table class="c-table">
        <tbody>
            <tr class="c-table-hihead">
                <th><div>表头</div></th><th><div>表头</div></th><th><div>表头</div></th>
            </tr>
            <tr>
                <td>表格内容</td><td>表格内容</td><td>表格内容</td>
            </tr>
            <tr>
                <td>表格内容</td><td>表格内容</td><td>表格内容</td>
            </tr>
        </tbody>
    </table>
</div>

<p>无底线表格</p>
<div class="c-container">
    <table class="c-table">
        <tbody>
            <tr class="c-table-hihead">
                <th><div>表头</div></th><th><div>表头</div></th><th><div>表头</div></th>
            </tr>
            <tr>
                <td>表格内容</td><td>表格内容</td><td>表格内容</td>
            </tr>
            <tr class="c-table-noborder">
                <td>表格内容</td><td>表格内容</td><td>表格内容</td>
            </tr>
        </tbody>
    </table>
</div>