<p>延迟加载的图片</p>
<div class="c-container">
    <div class="c-row">
        <div class="c-span2">
            <div class="c-img c-img-l">
                <img data-imagedelaysrc="3x4.jpg">
            </div>
        </div>
        <div class="c-span4">
            <div class="c-img c-img-s">
                <img data-imagedelaysrc="1x1.jpg">
            </div>
        </div>
        <div class="c-span6">
            <div class="c-img c-img-w">
                <img data-imagedelaysrc="16x9.jpg">
            </div>
        </div>
    </div>
</div>

<p>直接加载的图片</p>
<div class="c-container">
    <div class="c-row">
        <div class="c-span2">
            <img class="c-img" src="3x4.jpg">
        </div>
        <div class="c-span4">
            <img class="c-img" src="1x1.jpg">
        </div>
        <div class="c-span6">
            <img class="c-img" src="16x9.jpg">
        </div>
    </div>
</div>

<p>左图右文</p>
<div class="c-container">
    <div class="c-row">
        <div class="c-span3">
            <div class="c-img c-img-s">
                <img data-imagedelaysrc="1x1.jpg">
            </div>
        </div>
        <div class="c-span9">
            奎爷饶命，我只是一段卑微的文字。
        </div>
    </div>
</div>