<p>文字图标</p>
<div class="c-container">
    <table class="c-table">
        <tbody><tr class="c-table-hihead"><th><div>示例</div></th><th><div>class</div></th></tr>
        <tr><td><i class="c-text c-text-public">官网</i></td><td>.c-text .c-text-public</td></tr>
        <tr><td><i class="c-text c-text-danger">风险</i></td><td>.c-text .c-text-danger</td></tr>
        <tr><td><i class="c-text-box c-text-box-red">新</i></td><td>.c-text-box .c-text-box-red</td></tr>
        <tr><td><i class="c-text-box c-text-box-red">热</i></td><td>.c-text-box .c-text-box-red</td></tr>
        <tr><td><i class="c-text-box c-text-box-orange">付费</i></td><td>.c-text-box .c-text-box-orange</td></tr>
        <tr><td><i class="c-text-box c-text-box-blue">MV</i></td><td>.c-text-box .c-text-box-blue</td></tr>
        <tr><td><i class="c-text-box c-text-box-gray">超清</i></td><td>.c-text-box .c-text-box-gray</td></tr>
        <tr><td><i class="c-text-info">[图文]</i></td><td>.c-text-info</td></tr>
        <tr><td><i class="c-text-info">[专业回答]</i></td><td>.c-text-info</td></tr>
        <tr><td><i class="c-text-box c-text-box-orange">减</i></td><td>.c-text-box .c-text-box-orange</td></tr>
        <tr><td><i class="c-text-box c-text-box-red">免</i></td><td>.c-text-box .c-text-box-red</td></tr>
        <tr><td><i class="c-text-box c-text-box-green">票</i></td><td>.c-text-box .c-text-box-green</td></tr>
        <tr><td><i class="c-text-box c-text-box-blue">赔</i></td><td>.c-text-box .c-text-box-blue</td></tr>
        <tr><td><i class="c-text-box c-text-box-yellow">券</i></td><td>.c-text-box .c-text-box-yellow</td></tr>
    </tbody></table>
</div>

<p>序号图标</p>
<div class="c-container">
    <table class="c-table">
        <tbody><tr class="c-table-hihead"><th><div>示例</div></th><th><div>class</div></th></tr>
        <tr><td><span class="c-index c-index-hot1">1</span></td><td>.c-index .c-index-hot1</td></tr>
        <tr><td><span class="c-index c-index-hot2">2</span></td><td>.c-index .c-index-hot2</td></tr>
        <tr><td><span class="c-index c-index-hot3">3</span></td><td>.c-index .c-index-hot3</td></tr>
        <tr><td><span class="c-index">1</span></td><td>.c-index</td></tr>
        <tr><td><span class="c-index">2</span></td><td>.c-index</td></tr>
        <tr><td><span class="c-index">3</span></td><td>.c-index</td></tr>
        <tr><td><span class="c-index">4</span></td><td>.c-index</td></tr>
        <tr><td><span class="c-index">5</span></td><td>.c-index</td></tr>
        <tr><td><span class="c-index">99</span></td><td>.c-index</td></tr>
    </tbody></table>
</div>